.chest1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chest1 h1{
    text-align: center;
}

.chest1 div{
    margin-top: 2%;
}

@media ( max-width: 480px ){
    .chest1{
        display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    }
}