.pd_main {
    width: 1160px;
    margin: 20px auto 0;
}

.pd_header {
    padding-bottom: 10px;
    border-bottom: 2px solid #3b4890;
}

.pd_content {
    margin-top: 5%;
    height: 500px;
}

.pd_info {
    padding-bottom: 11px;
    border-bottom: 1px solid #eee;
}

.pd_comment {
    padding-bottom: 10px;
    border-bottom: 2px solid #3b4890;
}

.pd_comment_box {
    padding: 12px 12px 12px;
    background: #fafafa;
    border-top: 2px solid #3b4890;
    margin-top: 1%;
  }

  .pd_input {
    margin-right: 15px;
  }

.pd_comment_input{
    width: 126px;
    height: 28px;
    line-height: 29px;
    padding: 1px 7px 1px;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
    font-size: 12px;
    vertical-align: top;
}

.pd_comment_content{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 78px;
    padding: 13px;
    border: 1px solid #cecdce;
    background: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 18px;
}

.pd_submit {
    float: right;
}

.pd_comment_new{
    padding: 9px 3px 7px 3px;
    border-bottom: 1px solid #eee;
    display: flex; /* Flex 컨테이너로 설정 */
    align-items: center; /* 수직으로 가운데 정렬 속성 추가 */
    margin: 0;
}